
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->

<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Perfiles</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
            <li class="breadcrumb-item active">Perfiles</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row" id="tablaPantalla" *ngIf="!openform">
        <div class="col-12">
        <div class="card">
            <div class="card-header row">
            <div class="col-md-10">
                <h3 class="card-title">Listado de Perfiles</h3>
            </div>
            <div class="col-md-2  text-center">
                <button (click)="AbrirAgregar()" href="#" class="btn btn-primary my-2" ><i></i>Agregar Nuevo</button>
            </div>
            
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <table id="tbMenus" class="table  table-bordered table-striped">
                <thead>
                <tr>
                <th>EDITAR</th>
                <th>CLAVE</th>
                <th>USUARIO</th>
                <th>NOMBRE</th>
                <th>ACTIVO</th>
                
                </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let r of listTPerfil">
                    <td><i class="nav-icon fas fa-pencil-alt" (click)="AbrirEditar(r.cve_perfil,r.nombre, r.activo)"></i></td>
                    <td>{{r.cve_perfil}}</td>
                    <td>{{r.nombre}}</td>
                    <td>{{r.activo?'Activo':'Inactivo'}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    
    </div>
    <div class="row" id=formPantalla #formPantalla *ngIf="openform">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header row">
                    <div class="col-md-2">
                        <i (click)="RegresaraTabla()" style="color:white; font-size:xx-large;" class="nav-icon fas fa-arrow-circle-left"></i>
                    </div>
                    <div class="col-md-10">
                        <h3 class="card-title">{{nameAccion}}</h3>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="perfilform" (ngSubmit)="OnSubmit()" role="form" >
                        <div class="row">
                            <div class="card-body col-md-6">
                                <div class="row form-group col-md-6">
                                    <label for="cve_perfil">Clave </label>
                                    <input type="text" class="form-control" name="cve_perfil" formControlName='cve_perfil'  disabled required />
                                    <span *ngIf ="P.cve_perfil && !P.cve_perfil.valid">*</span> 
                                </div>
                                
                                <div class="row form-group col-md-10">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" formControlName='nombre' placeholder="nombre" required />
                                    <span *ngIf ="P.nombre && !P.nombre.valid">*</span> 
                                </div>
                            
                                <div class="row form-group col-md-10">
                                    <div class="col-md-6 custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="activo" formControlName='activo'>
                                        <label for="activo" class="custom-control-label">Activo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">{{accionBoton}}</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- Inicia el administrador de perfiles-->
    <div class="row" *ngIf="existePerfil" id="AdminPerfilTree">
        <!-- left column -->
        
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header row">
                    <div class="col-md-10">
                        <h3 class="card-title">Acceso a Menús</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="treeview-colorful-list mb-3">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                  <li class="mat-tree-node">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <input type="checkbox" (click)="GuardarPerfil(node.cve_menu)"/>
                    <button mat-icon-button disabled></button>
                    {{node.nombre}}             
                 </li>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <li  class="treeview-colorful-items">
                    <a class="treeview-colorful-items-header">
                       
    
                       
                      </a>
                    <div class="mat-tree-node " >
                      <button mat-icon-button matTreeNodeToggle
                              [attr.aria-label]="'toggle ' + node.nombre">
                        <mat-icon [ngClass]="{  ' fas ':true,
                                                '  fa-minus-circle':treeControl.isExpanded(node),
                                                '  fa-plus-circle':!treeControl.isExpanded(node) }">
                         
                        </mat-icon>
                      </button>
                        <span><i class="nav-icon fas {{node.icono}}"></i>
                        {{node.nombre}}   
                        </span>
                      
                    </div>
                    <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                  </li>
                </mat-nested-tree-node>
              </mat-tree>
          
        </div>
    </div>
    <div>
       
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->



   <!-- jQuery -->
   <script src="../../../assets/plugins/jquery/jquery.min.js"></script>
   <!-- Bootstrap 4 -->
   <script src="../../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- DataTables -->
   <script src="../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
   <script src="../../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
   <script src="../../../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
   <script src="../../../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
   <!-- AdminLTE App -->
   <script src="../../../assets/dist/js/adminlte.min.js"></script>
   <!-- AdminLTE for demo purposes -->
   <script src="../../../assets/dist/js/demo.js"></script>
   <!-- page script -->
  
</div>
 <script src="../../../assets/plugins/appJS/perfil.js"></script>