
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->    
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Usuarios</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
                        <li class="breadcrumb-item active">Perfiles</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row" id="tablaPantalla" *ngIf="!openform">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header row">
                            <div class="col-md-10">
                                <h3 class="card-title">Listado de Usuarios</h3>
                            </div>
                            <div class="col-md-2  text-center">
                                <button (click)="AbrirAgregar()" href="#" class="btn btn-primary my-2" ><i></i>Agregar Nuevo</button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbMenus" class="table  table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>EDITAR</th>
                                        <th>CLAVE</th>
                                        <th>USUARIO</th>
                                        <th>NOMBRE</th>
                                        <th>ACTIVO</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let r of listTUsuario">
                                    <td><i class="nav-icon fas fa-pencil-alt" (click)="AbrirEditar(r.cve_perfil,r.nombre, r.activo)"></i></td>
                                    <td>{{r.cve_perfil}}</td>
                                    <td>{{r.nombre}}</td>
                                    <td>{{r.activo?'Activo':'Inactivo'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                <!-- /.card -->
                </div>
            </div>
            <div class="row" id=formPantalla #formPantalla *ngIf="openform">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header row">
                            <div class="col-md-2">
                                <i (click)="RegresaraTabla()" style="color:white; font-size:xx-large;" class="nav-icon fas fa-arrow-circle-left"></i>
                            </div>
                            <div class="col-md-10">
                                <h3 class="card-title">{{nameAccion}}</h3>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="usuarioform" (ngSubmit)="OnSubmit()" role="form" >
                            <div class="row">
                                <div class="card-body col-md-6">
                                    <div class="row form-group col-md-6">
                                        <label for="cve_usuario">Clave </label>
                                        <input type="text" class="form-control" name="cve_usuario" formControlName='cve_usuario'  disabled required />
                                        <span *ngIf ="P.cve_usuario && !P.cve_usuario.valid" class="alert alert-danger">*usuario inválido*</span> 
                                    </div>
                                    <div class="row form-group col-md-8">
                                        <label for="usuario">Usuario </label>
                                        <input type="text" class="form-control" name="usuario" formControlName='usuario'   required />
                                        <span *ngIf ="P.usuario && !P.usuario.valid">*</span> 
                                    </div>
                                    <div class="row form-group col-md-8">
                                        <label for="password">Password </label>
                                        <input type="password" class="form-control" name="password" formControlName='password'   required />
                                        <span *ngIf ="P.password && !P.password.valid">*</span> 
                                    </div>
                                    <div class="row form-group col-md-8">
                                        <label for="cve_perfil">Perfil </label>
                                        <select class="form-control" name="cve_perfil" formControlName='cve_perfil'>
                                            <option value="0">ELIGE EL USUARIO</option>
                                            <option *ngFor="let o of listaUsuarioSelect" [value] = "o.cve_usuario" >{{o.nombre}}</option>
                                        </select>
                                        <span *ngIf ="P.cve_perfil && !P.cve_perfil.valid">*</span> 
                                    </div>
                                    <div class="row form-group col-md-8">
                                        <label for="cuentabloqueada">Cuenta Bloqueada </label>
                                        <select class="form-control" name="cuentabloqueada" formControlName='cuentabloqueada'>
                                            <option value="1">SI</option>
                                            <option value="0">NO</option>
                                        </select>
                                        <span *ngIf ="P.cve_perfil && !P.cve_perfil.valid">*</span> 
                                    </div>
                                                                
                                    <div class="row form-group col-md-8">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control" name="nombre" formControlName='nombre' placeholder="nombre" required />
                                        <span *ngIf ="P.nombre && !P.nombre.valid">*</span> 
                                    </div>
                                
                                    <div class="row form-group col-md-8">
                                        <label for="email">Correo</label>
                                        <input type="email" class="form-control" name="email" formControlName='email' placeholder="email" required />
                                        <span *ngIf ="P.email && !P.email.valid">*</span> 
                                    </div>
                                    <div class="row form-group col-md-8">
                                        <label for="email_copias">Correo copia</label>
                                        <input type="email" class="form-control" name="email_copias" formControlName='email_copias' placeholder="email_copias" required />
                                        <span *ngIf ="P.email_copias && !P.email_copias.valid">*</span> 
                                    </div>
                                    <div class="row form-group col-md-8">
                                        <label for="telefono">Telefono</label>
                                        <input type="tel" class="form-control" name="telefono" formControlName='telefono' placeholder="telefono" required />
                                        <span *ngIf ="P.telefono && !P.telefono.valid" class="error">*</span> 
                                    </div>
                                    <div class="row form-group col-md-10">
                                        <div class="col-md-6 custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="activo" id="activo" formControlName='activo'>
                                            <label for="activo" class="custom-control-label">Activo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">{{accionBoton}}</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    
    
    
       <!-- jQuery -->
       <script src="../../../assets/plugins/jquery/jquery.min.js"></script>
       <!-- Bootstrap 4 -->
       <script src="../../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
       <!-- DataTables -->
       <script src="../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
       <script src="../../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
       <script src="../../../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
       <script src="../../../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
       <!-- AdminLTE App -->
       <script src="../../../assets/dist/js/adminlte.min.js"></script>
       <!-- AdminLTE for demo purposes -->
       <script src="../../../assets/dist/js/demo.js"></script>
       <!-- page script -->
      
    </div>
     <script src="../../../assets/plugins/appJS/perfil.js"></script>