<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->



<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">


                <div class="verdeuno col-md-7 ">
                    <div class="container">
                        <div class="row">
                            <div class="col ">
                                <h2>
                                    Te damos la</h2>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="w-100"></div>
                            <div class="col"></div>
                            <div class="col">
                                <h2>BIENVENIDA</h2>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="float-right">
                                    <h3>INICIA </h3>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="float-right">
                                    <h3>SESIÓN </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row no-gutters ">
                <div class="verde col-md-7">Plataforma móvil de Sociedad Financiera Equípate</div>
                <div class="verdetres col-md-5">
                </div>
            </div>

            <div class="row no-gutters colorfondologin">
                <div class="col-md-7">
                    <img src="assets/images/shutterstock_161599079-crop-u155.jpg" class="sizeimage img-fluid" alt="Responsive image">
                    <!-- <img src="../../../assets/images/shutterstock_161599079-crop-u155.jpg" alt="login" class="login-card-img"> -->
                </div>
                <div class="col-md-5">
                    <div class="card-body colorfondologin">
                        <!-- <div class="brand-wrapper">
                            <img src="assets/images/logo.svg" alt="logo" class="logo">
                        </div> -->
                        <form #formtoken="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <!-- <form #formtoken="ngForm" [formGroup]="registerForm" (ngSubmit)="continuar(formtoken)"> -->
                            <div class="form-group ">
                                <input formControlName="usuario" type="text" class="form-control fadeIn second" [(ngModel)]="usuario" tabindex="1 " [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" placeholder="Usuario " />

                                <div *ngIf="submitted && f.usuario.errors " class="invalid-feedback ">
                                    <div *ngIf="f.usuario.errors.required ">Usuario requerido</div>
                                </div>
                            </div>
                            <div class="form-group mb-4 ">
                                <input type="password" formControlName="password" class="form-control fadeIn second" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Introducir contraseña" />
                                <div *ngIf="submitted && f.usuario.errors " class="invalid-feedback ">
                                    <div *ngIf="f.password.errors.required ">Contraseña requerida</div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center ">
                                <button type="button " class="btn verde ">Enviar</button>
                            </div>
                        </form>
                        <br>
                        <div class="d-flex justify-content-center ">
                            <a href="#! " class="forgot-password-link colorverde ">¿Olvidaste tu contraseña?</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row no-gutters ">
                <div class="col-md-7 ">
                    <img src="../../../assets/images/svg pegado 512x87_poster_.png " class="img-fluid sizeimage " alt="Responsive image ">
                </div>
            </div>

        </div>
    </div>
</main>

<app-footer></app-footer>