
 <body class="hold-transition sidebar-mini">
 <div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul> 
  </nav>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <span class="brand-text font-weight-light">INNOVACIÓN Y DESARROLLO</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <!-- <nav class="mt-2">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [ngClass]="{'mat-tree':false,
                                                                                  'nav':true,'nav-pills':true, 'nav-sidebar':true,
                                                                                   'flex-column':true}" >
     This is the tree node template for leaf nodes -->
        <!-- <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle >
          <li class="nav-item">
          
            <button mat-icon-button disabled></button>
            <a href="#" class="nav-link">
              <i class="fas fa-circle nav-icon"></i>
              <p> {{node.nombre}}  </p>
            </a>
                   
         </li>
        </mat-tree-node> -->
        <!-- This is the tree node template for expandable nodes -->
        <!-- <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li  class="nav-item has-treeview" [ngClass]="{'menu-open':treeControl.isExpanded(node)}">
          <div >
            <a>
              <mat-icon class="nav-icon fas {{node.icono}}">
              </mat-icon>
                
                  {{node.nombre}} 
                
                <button mat-icon-button matTreeNodeToggle
                              [attr.aria-label]="'toggle ' + node.nombre">
                <mat-icon [ngClass]="{ 'right':true, 'fas':true,
                'fa-angle-left':treeControl.isExpanded(node),
                'fa-angle-down':!treeControl.isExpanded(node) }">
                 
                </mat-icon>
              </button>
            </a>
               
            </div>
            <ul *ngIf="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node> -->
      <!-- </mat-tree> -->

      <!-- </nav>  -->
     
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->


  </aside>
 </div>
 </body>
 